/*全局*/
html, body {
    position: relative;
    height: 100%;
    background-color: #46C626;
}
body {
    font-family: 微软雅黑, Arial;
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding: 0;
}
#loading{
	position: relative;
	text-align: center;
	margin-top: 200px;
}
.swiper-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 100%;
}
.swiper-pagination-bullet-active{
	background-color: #fff;
	opacity: 0.8;
}
.arrow{
	position: absolute;
	bottom: 30px;
	width: 40px;
	cursor: pointer;
	z-index: 3;
	animation:fadeInUp 1s infinite;
	-webkit-animation:fadeInUp 1s infinite;
}
.centerBlock{
	position: relative;
}
.center{
    text-align: center;
}
/*enter*/
#enter #mail{
	display: block;
	margin: auto;
	width: 150px;
	visibility: hidden;
}
#enter #title{
	text-align: center;
	margin-top: 20px;
	visibility: hidden;
}

/*start*/
#start #header{
	font-size: 30px;
	text-align: left;
	/*margin-top: 80px;*/
	margin-left: 30px;
}
#start #org{
	margin: auto;
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
}
#start #dep{
	position: relative;
	margin: auto;
	bottom: 30px;
	margin-top: 30px;
	font-size: 80px;
	text-align: center;
}

/*food*/
#foodPagin{
	bottom: 60px;
}